@media only screen and (min-width:768px) {
    #page {
        padding-left: 110px;
    }
    a{
        color: #2f3538;
    }
    
    .site-about {
        padding-left: 150px;
        padding-right: 100px;
    }
    .site-contact {
        padding-top: 20px;
        padding-left: 150px;
    }
    .site-error {
        padding-left: 150px;
    }
    .main-inside {
        padding-left: 0px;
        padding-top: 0px;
    }
    .breadcrumb {
        margin-left: 96px;
        background-color: #ffffff;
        padding-top: 60px;
        color: #2f3538;
    }
    .breadcrumb .active {
        color: #2f3538;
    }

    .breadcrumb .active::before{
        color: #2f3538;
    }

    .breadcrumb .catalog {
        color: #2f3538;
    }

    .breadcrumb .catalog::before{
        color: #2f3538;
    }

    li.breadcrumb-home a{
        color: #2f3538;
        text-decoration: none;
    }
    li.catalog a{
        color: #2f3538;
        text-decoration: none;
    }
}

@media only screen and (max-width:768px) {
    #page {
        padding-left: 0px;
    }
    a {
        color: #ffffff;
    }
    .site-about {
        padding-left: 0px;
        padding-right: 0px;
    }
    .site-contact {
        padding-top: 0px;
        padding-left: 20px;

    }
    .site-error {
        padding-left: 0px;
    }
    .main-inside {
        padding-left: 0px;
    }
    .breadcrumb {
        margin-left: 0px;
        background-color: #999999;
        color: #ffffff;
    }
    .breadcrumb .active {
        color: #ffffff;
    }

    .breadcrumb .active::before{
        color: #ffffff;
    }

    .breadcrumb .catalog {
        color: #ffffff;
    }

    .breadcrumb .catalog::before{
        color: #ffffff;
    }

    li.breadcrumb-home a{
        color: #ffffff;
        text-decoration: none;
    }
    li.catalog a{
        color: #ffffff;
        text-decoration: none;
    }
}

@media only screen and (min-device-width: 768px) and (max-width:1400px) {
    .vw5-themeMenuMain__item, .vw5-themeMenuMain__moreMenuItem {
        height: 70px;
    }
    .vw5-themeMenuMain__moreMenuItem {
        height: 70px;
    }
}

@media only screen and (min-width:1400px) {
    .vw5-themeMenuMain__item, .vw5-themeMenuMain__moreMenuItem {
        height: 85px;
    }
    .vw5-themeMenuMain__moreMenuItem {
        height: 85px;
    }
}

.vw5-kwcBasicTextfield a:hover {
    color: #FF0000;
}

.card-mobile {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid #FBBB02;
    border-radius: .25rem
}

.card-mobile:hover {
    border: 3px solid #FF0000;
}