
.icon-menu_contact:before { content: '\e801'; } /* '' */
.icon-menu_download:before { content: '\e802'; } /* '' */
.icon-menu_news:before { content: '\e803'; } /* '' */
.icon-menu_warranty:before { content: '\e804'; } /* '' */
.icon-menu_about:before { content: '\e805'; } /* '' */
.icon-menu_catalog:before { content: '\e806'; } /* '' */