{% extends 'hort_parts/main.html' %}
{% load static i18n hort_tag %}
{% block  title_page %}
<title>Hort - About</title>
{% endblock title_page %}


{% block content_page %}

<div class="site-about">

    <div class="col-lg-13">
        <p>
            <b>{% trans 'Trademark "HORT"' %}</b>,
            <b>{% trans 'founded by the German company M-Tech Autoteile GmbH' %}</b>,
            {% trans 'appeared on the market of auto components in 2009, introducing cooling pumps for passenger cars.' %}
        </p>
        <p> {% trans 'At present' %} <b>{% trans 'TM "HORT"' %}</b>
            {% trans 'offers to motorists and service specialists a significant list of spare parts, which include' %}
            :</p>
        <ul>
            <li class="site-about">{% trans 'Shock absorbers' %}</li>
            <li class="site-about">{% trans 'Clutch elements' %}</li>
            <li class="site-about">{% trans 'Brake pads and cylinders' %}</li>
            <li class="site-about">{% trans 'Thermostats' %}</li>
            <li class="site-about">{% trans 'Cooling pumps' %}</li>
            <li class="site-about">{% trans 'Starters' %}</li>
            <li class="site-about">{% trans 'Generators' %}</li>
            <li class="site-about">{% trans 'High-voltage wires' %}</li>
            <li class="site-about">{% trans 'Timing belts' %}</li>
            <li class="site-about">{% trans 'Drive belts' %}</li>
            <li class="site-about">{% trans 'Gas stops' %}</li>
            <li class="site-about">{% trans 'Constantly done painstaking work to expand the range of products' %}</li>
        </ul>
        <p><b>{% trans 'TM "HORT"' %}</b>
            {% trans 'in the production of products uses the latest automated control systems for quality control and shipment of products in accordance with the requirements of' %}
            <b>
                {% trans 'ISO / TS 16949' %}</b>,
            {% trans 'which allows you to track all the stages of planning, preparation and operation of production, tooling, finished products.' %}
        </p>
        <p> {% trans 'This approach makes it possible to ensure the quality of' %} <b>
            {% trans 'TM "HORT"' %}</b> {% trans 'products and assume' %}
            <b>{% trans 'warranty obligations' %}</b>
            {% trans 'to the consumer for at least' %} <b>{% trans '12 months' %}
            </b> {% trans 'of their operation.' %} </p>
        <p><b>{% trans 'TM "HORT"' %}</b>
            {% trans 'makes maximum efforts to promote quality auto components to the secondary market.' %}
        </p>
    </div>

</div>

{% endblock content_page %}
