{% extends 'hort_parts/main.html' %}
{% load static i18n hort_tag %}
{% block  title_page %}
<title>Hort - Contact</title>
{% endblock title_page %}


{% block content_page %}

<div class="site-contact">

    <p>
    <h2>
        {% trans 'If you have any business queries or other questions,
            please fill out the following form to contact us. Thank you.' %}
    </h2></p>

    <form role="form">
        <div class="form-group">
            
            <div class="form-group">
               SEND A SHEET
            </div>

            
            <br/>
            <br/>
            <br/>
        </div>
    </form>

</div>

{% endblock content_page %}
