{% extends 'hort_parts/main.html' %}
{% load static i18n flags hort_tag %}
{% block  title_page %}
<title>Hort - {% trans 'Home' %}</title>
{% endblock title_page %}

{% block content_page %}

<header>

    <div class="header-logo">
        <a href="#">Hort Parts</a>
    </div>

    <a id="header-menu-trigger" href="#0">
        <span class="header-menu-text">Menu</span>
        <span class="header-menu-icon"></span>
    </a>

    <nav id="menu-nav-wrap">

        <a href="#0" class="close-button" title="close"><span>Close</span></a>

        <h3>Hort Parts.</h3>

        <ul class="nav-list">
            <li class="current"><a class="smoothscroll" href="#home" title="">{% trans 'Home' %}</a></li>
            <li><a class="smoothscroll" href="#products" title="">{% trans 'Products' %}</a></li>
            <li><a class="smoothscroll" href="#about" title="">{% trans 'About Us' %}</a></li>
            <li><a class="smoothscroll" href="#warranty" title="">{% trans 'Warranty' %}</a></li>
            <li><a class="smoothscroll" href="#download" title="">{% trans 'Download materials' %}</a></li>
            <li><a class="smoothscroll" href="#news" title="">{% trans 'News' %}</a></li>
            <li><a class="smoothscroll" href="#contact" title="">{% trans 'Contact' %}</a></li>
        </ul>

        <ul class="header-social-list">
            <li>
                <a href="https://twitter.com/Hort_Parts" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/hortparts/" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
            <hr/>
            <ul>
                {% languages 'square' %}
            </ul>
        </ul>

    </nav>
</header>

<section id="home">

    <div class="overlay"></div>

    <div class="home-content-table">
        <div class="home-content-tablecell">
            <div class="row">
                <div class="col-twelve">

                    <div class="more animate-intro">
                        <a class="smoothscroll button stroke" href="#products">
                            {% trans 'Hort Products' %}
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <ul class="home-social-list">
        <li class="animate-intro">
            <a href="https://twitter.com/Hort_Parts"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="animate-intro">
            <a href="https://www.instagram.com/hortparts/" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
        {% languages 'square' %}
    </ul>

    <div class="scrolldown">
        <a href="#products" class="scroll-icon smoothscroll">
            Hort Products
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
    </div>

</section>

<section id="products">

    <div class="row about-wrap">
        <div class="col-full">

            <div class="about-profile-bg"></div>

            <div class="intro">
                <h3 class="animate-this">{% trans 'Products' %}</h3>
            </div>

            <div class="row row-no-gutter">
                <div class="resp-tabs" style="display: block; width: 100%;">
                    <div class="resp-tabs-container">

                        <div class="gallery resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0"
                             style="display:block">
                            <!--gallery-->
                            <div class="col-md-4 col-sm-12 border-right">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="shockabsorber/"
                                       data-gallery="5">
                                        <img src="{% static 'images/catalog/absorber2.png' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name">
                                                <span>Shock absorbers</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image05_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image05.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Honda Project 2and4 Concept</span></p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="col-md-4 col-sm-12 border-right">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image02_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image02.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Wiper Blade Pro</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image04_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image04.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>LED Headlight</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image06_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image06.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Wiper Blade Standart</span></p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="col-md-4 col-sm-12">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb "
                                       href="#/images/page-1_image03_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image03.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Alfa-Romeo Giulia 2016</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb "
                                       href="#/images/page-1_image07_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image07.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>BRABUS Mercedes<br class="br-lg-on">
                                                Amg GT-S 2016</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-no-gutter">
                <div class="resp-tabs" style="display: block; width: 100%;">
                    <div class="resp-tabs-container">

                        <div class="gallery resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0"
                             style="display:block">
                            <!--gallery-->
                            <div class="col-md-4 col-sm-12 border-right">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image01_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image01.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>BRABUS Mercedes S-65 <br class="br-lg-on">
                                                ROCKET-900 2015</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image05_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image05.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Honda Project 2and4 Concept</span></p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="col-md-4 col-sm-12 border-right">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image02_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image02.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Wiper Blade Pro</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image04_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image04.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>LED Headlight</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image06_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image06.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Wiper Blade Standart</span></p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="col-md-4 col-sm-12">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb "
                                       href="#/images/page-1_image03_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image03.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Alfa-Romeo Giulia 2016</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb "
                                       href="#/images/page-1_image07_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image07.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>BRABUS Mercedes<br class="br-lg-on">
                                                Amg GT-S 2016</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row row-no-gutter">
                <div class="resp-tabs" style="display: block; width: 100%;">
                    <div class="resp-tabs-container">

                        <div class="gallery resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0"
                             style="display:block">
                            <!--gallery-->
                            <div class="col-md-4 col-sm-12 border-right">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image01_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image01.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>BRABUS Mercedes S-65 <br class="br-lg-on">
                                                ROCKET-900 2015</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image05_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image05.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Honda Project 2and4 Concept</span></p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="col-md-4 col-sm-12 border-right">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image02_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image02.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Wiper Blade Pro</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image04_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image04.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>LED Headlight</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image06_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image06.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Wiper Blade Standart</span></p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="col-md-4 col-sm-12">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb "
                                       href="#/images/page-1_image03_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image03.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Alfa-Romeo Giulia 2016</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb "
                                       href="#/images/page-1_image07_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image07.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>BRABUS Mercedes<br class="br-lg-on">
                                                Amg GT-S 2016</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">

    <div class="row about-wrap">
        <div class="col-full">

            <div class="about-profile-bg"></div>

            <div class="intro">
                <h3 class="animate-this">{% trans 'About Us' %}</h3>

                <p class="lead animate-this"><span>{% trans 'Trademark "HORT"' %}</span>,
                    {% trans 'founded by the German company M-Tech Autoteile GmbH' %},
                    {% trans 'appeared on the market of auto components' %}
                    {% trans 'in 2009, introducing cooling pumps for passenger cars' %}.
                    {% trans 'At present' %} <span>{% trans 'TM HORT' %}</span>
                    {% trans 'offers to motorists and service specialists a significant list of' %}
                    {% trans 'spare parts, which include' %}:</p>
                <ul class="animate-this">
                    <li>{% trans 'Shock absorbers' %}</li>
                    <li>{% trans 'Clutch elements' %}</li>
                    <li>{% trans 'Brake pads and cylinders' %}</li>
                    <li>{% trans 'Thermostats' %}</li>
                    <li>{% trans 'Cooling pumps' %}</li>
                    <li>{% trans 'Starters' %}</li>
                    <li>{% trans 'Generators' %}</li>
                    <li>{% trans 'High-voltage wires' %}</li>
                    <li>{% trans 'Timing belts' %}</li>
                    <li>{% trans 'Drive belts' %}</li>
                    <li>{% trans 'Gas stops' %}</li>
                    <li>{% trans 'Constantly done painstaking work to expand the range of products' %}</li>
                </ul>
                <p class="lead animate-this">
                    <span>{% trans 'TM HORT' %}</span>
                    {% trans 'in the production of products uses the latest automated control systems for' %}
                    {% trans 'quality control and shipment of products in accordance with the requirements of' %}
                    {% trans 'ISO / TS 16949' %},
                    {% trans 'which allows you to track all the stages of planning' %},
                    {% trans 'preparation and operation of production' %},
                    {% trans 'tooling, finished products' %}.
                    <br>
                    {% trans 'This approach makes it possible to ensure the quality of ' %}
                    <span>{% trans 'TM HORT' %}</span>
                    {% trans 'products and assume warranty obligations to the consumer for at least' %}
                    {% trans '12 months of their operation' %}.
                    <span>{% trans 'TM HORT' %}</span>
                    {% trans 'makes maximum efforts to promote quality auto components to the secondary market' %}.
                </p>
            </div>

        </div>
    </div>

</section>

<section id="warranty">

    <div class="overlay"></div>
    <div class="gradient-overlay"></div>

    <div class="row narrow section-intro with-bottom-sep animate-this">
        <div class="col-full">

            <h3>{% trans 'PRODUCT WARRANTY OF THE TRADE MARK "HORT"' %}</h3>
            <p class="lead">
                BASIC CONCEPTS
                This document describes the relationships that arise between buyers, sellers and manufacturers of goods
                of the trademark "HORT".
                The basic concepts used in this document are:
                Buyer - a citizen who receives goods of the trademark "HORT";
                Seller - an organization that sells goods to customers;
                Guaranteed STO - a technical service station for cars, which carries out installation, warranty service
                and repair of goods;
                Warranty service - maintenance of goods installed on the car during the warranty period;
                Warranty period - the period during which, in case of detection of defective goods, the Seller is
                obliged to satisfy the Buyers requirements for the free removal of defects of the goods or reimbursement
                of expenses for their correction by the Buyer or a third party, a replacement for a product of the same
                brand, or require the return of the money paid for the product and compensation for the installation
                costs.
                GENERAL WARRANTY TERMS
                1. TМ «HORT» sets the warranty period for its products 12 months, subject to the requirements of
                storage, installation, use, provided by regulatory documents, technical characteristics and real status,
                except for the product, which according to this situation is not covered by the guarantee or the
                duration of the guarantee specified in the Guarantee card.
                2. The manufacturers warranty applies only to defects of production nature. The warranty period starts
                from the moment of purchase of the goods by the buyer or from the moment of installation of the part on
                the car at the service station.
                3. TМ «HORT» guarantees high quality products. For security and maximum efficiency TМ «HORT» recommends
                to allow all prophylactic and repair work to be performed only by trained specialists in accordance with
                the instructions of the manufacturer of the car. In the case of incorrect or unskilled installation, TM
                "HORT" products are not liable for warranty obligations.
                4. In the event of a warranty, during the warranty period, please return the product to the seller,
                showing the following documents required:
                Warranty card;
                Commodity or cash check;
                Order-STO on the installation of spare parts (if the spare part was installed on the service station).
                5. The guarantee is not granted in case:
                Failure to comply with the installation rules established by the manufacturer of the car;
                Incorrect selection of spare parts;
                The presence of mechanical damage;
                Incorrect storage or operation, damage to a spare part as a result of an accident;
                If the cause of the failure of the product was a malfunction of another part or units;
                Installations of a spare part for a car that was subjected to operational load, used in races, rally,
                etc .;
                Natural wear parts (for brake pads, brake discs, brake drums, discs and clutch baskets, drive belts).
            </p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><h3><b>{% trans 'Category of spare parts' %} </b></h3></th>
                    <th><h3><b>{% trans 'Warranty period' %}</b></h3></th>
                    <th><h3><b>{% trans 'Run (km) of the car' %}</b></h3></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><h3>{% trans 'Shock absorbers' %}*</h3></td>
                    <td><h3>{% trans '12 months' %}*</h3></td>
                    <td><h3>{% trans 'or 20,000 km' %}*</h3></td>
                </tr>
                <tr>
                    <td><h3>{% trans 'High voltage wires' %} High Perfomance</h3></td>
                    <td><h3>{% trans '6 months' %}</h3></td>
                    <td><h3>{% trans 'or 15,000 km' %}</h3></td>
                </tr>
                <tr>
                    <td><h3>{% trans 'High voltage wires' %} Platinize</h3></td>
                    <td><h3>{% trans '6 months' %}</h3></td>
                    <td><h3>{% trans 'or 15,000 km' %}</h3></td>
                </tr>
                <tr>
                    <td><h3>{% trans 'High voltage wires' %} Silicone</h3></td>
                    <td><h3>{% trans '6 months' %}</h3></td>
                    <td><h3>{% trans 'or 15,000 km' %}</h3></td>
                </tr>
                <tr>
                    <td><h3>{% trans 'Water pumps' %}</h3></td>
                    <td><h3>{% trans '18 months' %}</h3></td>
                    <td><h3>{% trans 'or 80,000 km' %}</h3></td>
                </tr>
                <tr>
                    <td><h3>{% trans 'Gas springs' %}</h3></td>
                    <td><h3>{% trans '24 months' %}</h3></td>
                    <td><h3>-</h3></td>
                </tr>
                <tr>
                    <td><h3>{% trans 'Brake pads' %}</h3></td>
                    <td><h3>{% trans '6 months' %}</h3></td>
                    <td><h3>{% trans 'or 20,000 km' %}</h3></td>
                </tr>
                <tr>
                    <td><h3>{% trans 'Generators' %}</h3></td>
                    <td><h3>{% trans '12 months' %}</h3></td>
                    <td><h3>-</h3></td>
                </tr>
                <tr>
                    <td><h3>{% trans 'Hydraulic cylinders' %}</h3></td>
                    <td><h3>{% trans '12 months' %}</h3></td>
                    <td><h3>-</h3></td>
                </tr>
                <tr>
                    <td><h3>{% trans 'Belts' %}</h3></td>
                    <td><h3>{% trans '6 months' %}</h3></td>
                    <td><h3>{% trans 'or 30,000 km' %}</h3></td>
                </tr>
                <tr>
                    <td><h3>{% trans 'Starters' %}</h3></td>
                    <td><h3>{% trans '24 months' %}</h3></td>
                    <td><h3>-</h3></td>
                </tr>
                <tr>
                    <td><h3>{% trans 'Starter batteries' %}</h3></td>
                    <td><h3>{% trans '24 months' %}</h3></td>
                    <td><h3>-</h3></td>
                </tr>
                <tr>
                    <td><h3>{% trans 'Stabilizer stands' %}</h3></td>
                    <td><h3>{% trans '4 months' %}</h3></td>
                    <td><h3>{% trans 'or 20,000 km' %}</h3></td>
                </tr>
                <tr>
                    <td><h3>{% trans 'Thermostats' %}</h3></td>
                    <td><h3>{% trans '24 months' %}</h3></td>
                    <td><h3>{% trans 'or 125,000 km' %}</h3></td>
                </tr>
                </tbody>
            </table>
            *{% trans 'guarantee provided two shock absorbers are installed on one axle of the car' %}
            <p class="lead">
                GUARANTEE TALON
                Warranty card for products TМ «HORT» - this is a document that contains all the necessary data for the
                user and the automaker. It includes information:
                Name and article products TМ «HORT»;
                Name, address and telephone number of the trade organization;
                Date of sale;
                Signature of the seller and seal of the trade organization;
                A mark about carrying out of works on installation and maintenance service;
                Service name and address;
                Date of installation;
                Make, model, year of issue and mileage (km) of the car.
                Warranty coupons are contained in product packages ТМ «HORT».
                The warranty card confirms the originality (authenticity) of the origin of the products TМ «HORT».
                The firm guarantee from ТМ "HORT" for TM "HORT" products is given only with the presence of a properly
                completed Guarantee Certificate TM "HORT".
            </p>
        </div>
    </div>

</section>

<section id="download">

    <div class="intro-wrap">

        <div class="row narrow section-intro with-bottom-sep animate-this">
            <div class="col-twelve">
                <h3>Download Materials</h3>

            </div>
        </div>

    </div>

</section>

<section id="news">

    <div class="row">
        <div class="col-twelve">
            <h2 class="animate-this">News</h2>
        </div>
    </div>

    <div class="row flex-container">

        <div id="testimonial-slider" class="flex-slider animate-this">

            <ul class="slides">

                <li>
                    <p>
                        Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                        to do what you believe is great work. And the only way to do great work is to love what you do.
                        If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart,
                        you'll know when you find it.
                    </p>

                </li>

                <li>
                    <p>
                        This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                        nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                    </p>

                    <div class="testimonial-author">
                        <img src="{% static 'images/avatars/user-03.jpg' %}" alt="Author image">
                        <div class="author-info">
                            John Doe
                            <span>CEO, ABC Corp.</span>
                        </div>
                    </div>
                </li> <!-- end slide -->

            </ul>

        </div>

    </div>

</section>

<section id="contact">

    <div class="overlay"></div>

    <div class="row narrow section-intro with-bottom-sep animate-this">
        <div class="col-twelve">
            <h3>Contact</h3>
            <p class="lead">If you have any business queries or other questions, please fill out the following form to
                contact us. Thank you.</p>
        </div>
    </div>

    <div class="row contact-content">

        <div class="col-seven tab-full animate-this">

            <h5>Send Us A Message</h5>

            <form name="contactForm" id="contactForm" method="post">

                <div class="form-field">
                    <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2"
                           required="">
                </div>

                <div class="row">
                    <div class="col-six tab-full">
                        <div class="form-field">
                            <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value=""
                                   required="">
                        </div>
                    </div>
                    <div class="col-six tab-full">
                        <div class="form-field">
                            <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50"
                              required=""></textarea>
                </div>

                <div class="form-field">
                    <button class="submitform">Submit</button>

                    <div id="submit-loader">
                        <div class="text-loader">Sending...</div>
                        <div class="s-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>

            </form>

            <div id="message-warning"></div>

            <div id="message-success">
                <i class="fa fa-check"></i>Your message was sent, thank you!<br>
            </div>

        </div>

        <div class="col-four tab-full contact-info end animate-this">

            <h5>Contact Information</h5>

            <div class="cinfo">
                <h6>Email Us At</h6>
                <p>
                    office@hort.parts<br>
                    office@hort.ua<br>
                    hortautoparts@gmail.com
                </p>
            </div>
        </div>

    </div>

</section>

<div id="preloader">
    <div id="loader"></div>
</div>

{% endblock content_page %}
