{% extends 'hort_parts/main.html' %}
{% load static i18n hort_tag %}
{% block  title_page %}
<title>Hort - Home</title>
{% endblock title_page %}

{% block content_page %}

<header>

    <div class="header-logo">
        <a href="index.html">Hort Parts</a>
    </div>

    <a id="header-menu-trigger" href="#0">
        <span class="header-menu-text">Menu</span>
        <span class="header-menu-icon"></span>
    </a>

    <nav id="menu-nav-wrap">

        <a href="#0" class="close-button" title="close"><span>Close</span></a>

        <h3>Hort Parts.</h3>

        <ul class="nav-list">
            <li class="current"><a class="smoothscroll" href="#home" title="">Home</a></li>
            <li><a class="smoothscroll" href="#products" title="">Products</a></li>
            <li><a class="smoothscroll" href="#about" title="">About</a></li>
            <li><a class="smoothscroll" href="#portfolio" title="">Warranty</a></li>
            <li><a class="smoothscroll" href="#services" title="">Download materials</a></li>
            <li><a class="smoothscroll" href="#portfolio" title="">News</a></li>
            <li><a class="smoothscroll" href="#contact" title="">Contact</a></li>
        </ul>

        <ul class="header-social-list">
            <li>
                <a href="#"><i class="fa fa-facebook-square"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/hortparts/" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-behance"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-dribbble"></i></a>
            </li>
        </ul>

    </nav>

</header>

<section id="home">

    <div class="overlay"></div>

    <div class="home-content-table">
        <div class="home-content-tablecell">
            <div class="row">
                <div class="col-twelve">

                    <div class="more animate-intro">
                        <a class="smoothscroll button stroke" href="#products">
                            Hort Products
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <ul class="home-social-list">
        <li class="animate-intro">
            <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="animate-intro">
            <a href="https://www.instagram.com/hortparts/" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="animate-intro">
            <a href="#"><i class="fa fa-behance"></i></a>
        </li>
        <li class="animate-intro">
            <a href="#"><i class="fa fa-dribbble"></i></a>
        </li>
    </ul>

    <div class="scrolldown">
        <a href="#products" class="scroll-icon smoothscroll">
            Hort Products
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
    </div>

</section>

<section id="products">

    <div class="row about-wrap">
        <div class="col-full">

            <div class="about-profile-bg"></div>

            <div class="intro">
                <h3 class="animate-this">Products</h3>
            </div>

            <div class="row row-no-gutter">
                <div class="resp-tabs" style="display: block; width: 100%;">
                    <div class="resp-tabs-container">

                        <div class="gallery resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0"
                             style="display:block">
                            <!--gallery-->
                            <div class="col-md-4 col-sm-12 border-right">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image01_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image01.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>BRABUS Mercedes S-65 <br class="br-lg-on">
                                                ROCKET-900 2015</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image05_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image05.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Honda Project 2and4 Concept</span></p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="col-md-4 col-sm-12 border-right">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image02_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image02.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Wiper Blade Pro</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image04_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image04.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>LED Headlight</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image06_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image06.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Wiper Blade Standart</span></p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="col-md-4 col-sm-12">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb "
                                       href="#/images/page-1_image03_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image03.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Alfa-Romeo Giulia 2016</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb "
                                       href="#/images/page-1_image07_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image07.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>BRABUS Mercedes<br class="br-lg-on">
                                                Amg GT-S 2016</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-no-gutter">
                <div class="resp-tabs" style="display: block; width: 100%;">
                    <div class="resp-tabs-container">

                        <div class="gallery resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0"
                             style="display:block">
                            <!--gallery-->
                            <div class="col-md-4 col-sm-12 border-right">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image01_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image01.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>BRABUS Mercedes S-65 <br class="br-lg-on">
                                                ROCKET-900 2015</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image05_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image05.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Honda Project 2and4 Concept</span></p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="col-md-4 col-sm-12 border-right">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image02_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image02.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Wiper Blade Pro</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image04_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image04.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>LED Headlight</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image06_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image06.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Wiper Blade Standart</span></p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="col-md-4 col-sm-12">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb "
                                       href="#/images/page-1_image03_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image03.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Alfa-Romeo Giulia 2016</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb "
                                       href="#/images/page-1_image07_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image07.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>BRABUS Mercedes<br class="br-lg-on">
                                                Amg GT-S 2016</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-no-gutter">
                <div class="resp-tabs" style="display: block; width: 100%;">
                    <div class="resp-tabs-container">

                        <div class="gallery resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0"
                             style="display:block">
                            <!--gallery-->
                            <div class="col-md-4 col-sm-12 border-right">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image01_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image01.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>BRABUS Mercedes S-65 <br class="br-lg-on">
                                                ROCKET-900 2015</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image05_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image05.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Honda Project 2and4 Concept</span></p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="col-md-4 col-sm-12 border-right">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image02_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image02.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Wiper Blade Pro</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image04_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image04.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>LED Headlight</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb"
                                       href="#/images/page-1_image06_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image06.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Wiper Blade Standart</span></p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="col-md-4 col-sm-12">

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb "
                                       href="#/images/page-1_image03_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image03.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>Alfa-Romeo Giulia 2016</span></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="gallery-skin border-bottom">
                                    <a class="thumb "
                                       href="#/images/page-1_image07_original.jpg"
                                       data-gallery="5">
                                        <img src="{% static 'images/page-1_image07.jpg' %}" alt="">
                                        <span class="thumb_overlay"></span>
                                        <div class="gallery_overlay">
                                            <p class="brand_name heading-3"><span>Hort</span></p>
                                            <p class="light brand_name"><span>BRABUS Mercedes<br class="br-lg-on">
                                                Amg GT-S 2016</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<section id="about">

    <div class="row about-wrap">
        <div class="col-full">

            <div class="about-profile-bg"></div>

            <div class="intro">
                <h3 class="animate-this">About US</h3>

                <p class="lead animate-this"><span>Trademark HORT</span>, founded by the German company
                    M-Tech Autoteile GmbH, appeared on the market of
                    auto components in 2009, introducing cooling pumps for passenger cars.
                    At present <span>TM HORT</span> offers to motorists and service specialists a significant list of
                    spare parts,
                    which include:</p>
                <ul>
                    <li>Shock absorbers</li>
                    <li>Clutch elements</li>
                    <li>Brake pads and cylinders</li>
                    <li>Thermostats</li>
                    <li>Cooling pumps</li>
                    <li>Starters</li>
                    <li>Generators</li>
                    <li>High-voltage wires</li>
                    <li>Timing belts</li>
                    <li>Drive belts</li>
                    <li>Gas stops</li>
                    <li>Constantly done painstaking work to expand the range of products</li>
                </ul>
                <p class="lead animate-this">
                    <span>TM HORT</span> in the production of products uses the latest automated control systems for
                    quality
                    control and shipment of products in accordance with the requirements of ISO / TS 16949, which allows
                    you to track all the stages of planning, preparation and operation of production, tooling, finished
                    products.
                    <br>
                    This approach makes it possible to ensure the quality of <span>TM HORT</span> products and assume
                    warranty
                    obligations to the consumer for at least 12 months of their operation.
                    <span>TM HORT</span> makes maximum efforts to promote quality auto components to the secondary
                    market.
                </p>
            </div>

        </div>
    </div>

</section>

<section id="services">

    <div class="overlay"></div>
    <div class="gradient-overlay"></div>

    <div class="row narrow section-intro with-bottom-sep animate-this">
        <div class="col-full">

            <h3>Trademark HORT</h3>
            <p class="lead">Trademark "HORT", founded by the German company M-Tech Autoteile GmbH, appeared on the
                market of
                auto components in 2009, introducing cooling pumps for passenger cars.

                At present TM "HORT" offers to motorists and service specialists a significant list of spare parts,
                which include:

                Shock absorbers
                Clutch elements
                Brake pads and cylinders
                Thermostats
                Cooling pumps
                Starters
                Generators
                High-voltage wires
                Timing belts
                Drive belts
                Gas stops
                Constantly done painstaking work to expand the range of products
                TM "HORT" in the production of products uses the latest automated control systems for quality
                control and shipment of products in accordance with the requirements of ISO / TS 16949, which allows
                you to track all the stages of planning, preparation and operation of production, tooling, finished
                products.

                This approach makes it possible to ensure the quality of TM "HORT" products and assume warranty
                obligations to the consumer for at least 12 months of their operation.

                TM "HORT" makes maximum efforts to promote quality auto components to the secondary market.
            </p>

        </div>
    </div>

    <div class="row services-content">

        <div class="services-list block-1-2 block-tab-full group">

            <div class="bgrid service-item animate-this">

                <span class="icon"><i class="icon-paint-brush"></i></span>

                <div class="service-content">
                    <h3 class="h05">Branding</h3>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit.
                    </p>
                </div>

            </div>

            <div class="bgrid service-item animate-this">

                <span class="icon"><i class="icon-earth"></i></span>

                <div class="service-content">
                    <h3 class="h05">Web Design</h3>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit.
                    </p>
                </div>

            </div>

            <div class="bgrid service-item animate-this">

                <span class="icon"><i class="icon-lego-block"></i></span>

                <div class="service-content">
                    <h3 class="h05">Web Development</h3>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit.
                    </p>
                </div>

            </div>

            <div class="bgrid service-item animate-this">

                <span class="icon"><i class="icon-megaphone"></i></span>

                <div class="service-content">
                    <h3 class="h05">Marketing</h3>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit.
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>

<section id="portfolio">

    <div class="intro-wrap">

        <div class="row narrow section-intro with-bottom-sep animate-this">
            <div class="col-twelve">
                <h3>Showcase</h3>
                <h1>See Our Featured Projects.</h1>

                <p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure
                    esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut
                    laborum non est in officia.</p>
            </div>
        </div>

    </div>

    <div class="row portfolio-content">
        <div class="col-twelve">
            <div id="folio-wrap" class="bricks-wrapper">

                <div class="brick folio-item">
                    <div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-shutterbug.jpg"
                         data-sub-html="#01">
                        <a href="#" class="overlay">
                            <img src="images/portfolio/shutterbug.jpg" alt="Skaterboy">
                            <div class="item-text">
	                     	<span class="folio-types">
		     					      Web Development
		     					   </span>
                                <h3 class="folio-title">Shutterbug</h3>
                            </div>
                        </a>
                        <a href="#" class='details-link' title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>

                    <div id="01" class='hide'>
                        <h4>Shutterbug</h4>
                        <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis
                            nulla voluptate fugiat velit. <a href="#">Details</a></p>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-yellowwall.jpg"
                         data-sub-html="#02">
                        <a href="#" class="overlay">
                            <img src="images/portfolio/yellowwall.jpg" alt="Shutterbug">
                            <div class="item-text">
	                     	<span class="folio-types">
		     					      Marketing
		     					   </span>
                                <h3 class="folio-title">Yellow Wall</h3>
                            </div>
                        </a>
                        <a href="#" class='details-link' title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>

                    <div id="02" class='hide'>
                        <h4>Yellow Wall</h4>
                        <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis
                            nulla voluptate fugiat velit. <a href="#">Details</a></p>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-architecture.jpg"
                         data-sub-html="#03">
                        <a href="#" class="overlay">
                            <img src="images/portfolio/architecture.jpg" alt="Explore">
                            <div class="item-text">
		     					   <span class="folio-types">
		     					      Web Design
		     					   </span>
                                <h3 class="folio-title">Architecture</h3>
                            </div>
                        </a>
                        <a href="#" class='details-link' title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>

                    <div id="03" class='hide'>
                        <h4>Architecture</h4>
                        <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis
                            nulla voluptate fugiat velit. <a href="#">Details</a></p>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-minimalismo.jpg"
                         data-sub-html="#04">
                        <a href="#" class="overlay">
                            <img src="images/portfolio/minimalismo.jpg" alt="Minimalismo">
                            <div class="item-text">
		     					   <span class="folio-types">
		     					      Web Design
		     					   </span>
                                <h3 class="folio-title">Minimalismo</h3>
                            </div>
                        </a>
                        <a href="#" class='details-link' title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>

                    <div id="04" class='hide'>
                        <h4>Minimalismo</h4>
                        <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis
                            nulla voluptate fugiat velit.
                        </p>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-skaterboy.jpg"
                         data-sub-html="#05">
                        <a href="#" class="overlay">
                            <img src="images/portfolio/skaterboy.jpg" alt="Bicycle">
                            <div class="item-text">
		     					   <span class="folio-types">
		     					      Branding
		     					   </span>
                                <h3 class="folio-title">Skaterboy</h3>
                            </div>
                        </a>
                        <a href="#" class='details-link' title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>

                    <div id="05" class='hide'>
                        <h4>Skaterboy</h4>
                        <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis
                            nulla voluptate fugiat velit. <a href="#">Details</a></p>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-salad.jpg"
                         data-sub-html="#06">
                        <a href="#" class="overlay">
                            <img src="images/portfolio/salad.jpg" alt="Salad">
                            <div class="item-text">
		     					   <span class="folio-types">
		     					      Branding
		     					   </span>
                                <h3 class="folio-title">Salad</h3>
                            </div>
                        </a>
                        <a href="#" class='details-link' title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>

                    <div id="06" class='hide'>
                        <h4>Salad</h4>
                        <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis
                            nulla voluptate fugiat velit. <a href="#">Details</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<section id="testimonials">

    <div class="row">
        <div class="col-twelve">
            <h2 class="animate-this">What They Say About Us.</h2>
        </div>
    </div>

    <div class="row flex-container">

        <div id="testimonial-slider" class="flex-slider animate-this">

            <ul class="slides">

                <li>
                    <p>
                        Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                        to do what you believe is great work. And the only way to do great work is to love what you do.
                        If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart,
                        you'll know when you find it.
                    </p>

                    <div class="testimonial-author">
                        <img src="images/avatars/user-02.jpg" alt="Author image">
                        <div class="author-info">
                            Steve Jobs
                            <span class="position">CEO, Apple.</span>
                        </div>
                    </div>
                </li>

                <li>
                    <p>
                        This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                        nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                    </p>

                    <div class="testimonial-author">
                        <img src="images/avatars/user-03.jpg" alt="Author image">
                        <div class="author-info">
                            John Doe
                            <span>CEO, ABC Corp.</span>
                        </div>
                    </div>
                </li> <!-- end slide -->

            </ul>

        </div>

    </div>

</section>

<section id="clients">

    <div class="row animate-this">
        <div class="col-twelve">

            <div class="client-lists owl-carousel">
                <div><img src="images/clients/mozilla.png" alt=""></div>
                <div><img src="images/clients/bower.png" alt=""></div>
                <div><img src="images/clients/codepen.png" alt=""></div>
                <div><img src="images/clients/envato.png" alt=""></div>
                <div><img src="images/clients/firefox.png" alt=""></div>
                <div><img src="images/clients/grunt.png" alt=""></div>
                <div><img src="images/clients/evernote.png" alt=""></div>
                <div><img src="images/clients/github.png" alt=""></div>
                <div><img src="images/clients/joomla.png" alt=""></div>
                <div><img src="images/clients/jQuery.png" alt=""></div>
                <div><img src="images/clients/wordpress.png" alt=""></div>
            </div>

        </div>
    </div>

</section>

<section id="contact">

    <div class="overlay"></div>

    <div class="row narrow section-intro with-bottom-sep animate-this">
        <div class="col-twelve">
            <h3>Contact</h3>
            <h1>Get In Touch.</h1>

            <p class="lead">Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan
                id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
        </div>
    </div>

    <div class="row contact-content">

        <div class="col-seven tab-full animate-this">

            <h5>Send Us A Message</h5>

            <form name="contactForm" id="contactForm" method="post">

                <div class="form-field">
                    <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2"
                           required="">
                </div>

                <div class="row">
                    <div class="col-six tab-full">
                        <div class="form-field">
                            <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value=""
                                   required="">
                        </div>
                    </div>
                    <div class="col-six tab-full">
                        <div class="form-field">
                            <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50"
                              required=""></textarea>
                </div>

                <div class="form-field">
                    <button class="submitform">Submit</button>

                    <div id="submit-loader">
                        <div class="text-loader">Sending...</div>
                        <div class="s-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>

            </form>

            <div id="message-warning"></div>

            <div id="message-success">
                <i class="fa fa-check"></i>Your message was sent, thank you!<br>
            </div>

        </div>

        <div class="col-four tab-full contact-info end animate-this">

            <h5>Contact Information</h5>

            <div class="cinfo">
                <h6>Where to Find Us</h6>
                <p>
                    1600 Amphitheatre Parkway<br>
                    Mountain View, CA<br>
                    94043 US
                </p>
            </div>

            <div class="cinfo">
                <h6>Email Us At</h6>
                <p>
                    someone@infinitysite.com<br>
                    info@infinitysite.com
                </p>
            </div>

            <div class="cinfo">
                <h6>Call Us At</h6>
                <p>
                    Phone: (+63) 555 1212<br>
                    Mobile: (+63) 555 0100<br>
                    Fax: (+63) 555 0101
                </p>
            </div>

        </div>

    </div>

</section>

<div id="preloader">
    <div id="loader"></div>
</div>

{% endblock content_page %}
