{% extends 'hort_parts/main.html' %}
{% load static i18n flags hort_tag %}
{% block  title_page %}
<title>Hort - {% trans 'Home' %}</title>
{% endblock title_page %}

{% block content_page %}

<header>

    <div class="header-logo">
        <a href="#">Hort Parts</a>
    </div>

    <a id="header-menu-trigger" href="#0">
        <span class="header-menu-text">{% trans 'Menu' %}</span>
        <span class="header-menu-icon"></span>
    </a>

    <nav id="menu-nav-wrap">

        <a href="#0" class="close-button" title="close"><span>{% trans 'Close' %}</span></a>

        <h3>Hort Parts.</h3>

        <ul class="nav-list">
            <li class="current"><a class="smoothscroll" href="#home" title="">{% trans 'Home' %}</a></li>
            <li><a class="smoothscroll" href="#products" title="">{% trans 'Products' %}</a></li>
            <li><a class="smoothscroll" href="#about" title="">{% trans 'About Us' %}</a></li>
            <li><a class="smoothscroll" href="#warranty" title="">{% trans 'Warranty' %}</a></li>
            <li><a class="smoothscroll" href="#download" title="">{% trans 'Download materials' %}</a></li>
            <li><a class="smoothscroll" href="#contact" title="">{% trans 'Contact' %}</a></li>
        </ul>

        <ul class="header-social-list">
            <li>
                <a href="https://twitter.com/Hort_Parts" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/hortparts/" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
            <hr/>
            <ul>
                {% languages 'square' %}
            </ul>
        </ul>

    </nav>
</header>

<section id="home">

    <div class="overlay"></div>

    <div class="home-content-table">
        <div class="home-content-tablecell">
            <div class="row">
                <div class="col-twelve">

                    <div class="more animate-intro">
                        <a class="smoothscroll button stroke" href="#products">
                            {% trans 'Hort Products' %}
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <ul class="home-social-list">
        <li class="animate-intro">
            <a href="https://twitter.com/Hort_Parts"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="animate-intro">
            <a href="https://www.instagram.com/hortparts/" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
        {% languages 'square' %}
    </ul>

    <div class="scrolldown">
        <a href="#products" class="scroll-icon smoothscroll">
            Hort Products
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
    </div>

</section>

<section id="products">
    <div class="row about-wrap">
        <div class="col-full">
            <div class="about-profile-bg"></div>
            <div class="intro">
                <h2 class="animate-this">{% trans 'Products' %}</h2>
            </div>
        </div>
    </div>

    <div class="row portfolio-content">
        <div class="col-twelve">
            <div id="folio-wrap" class="bricks-wrapper">

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/absorber2.png' %}">
                        <a href="shockabsorber/" class="overlay">
                            <img src="{% static 'images/catalog/absorber2.png' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'SHOCK ABSORBERS' %}</h3>
                            </div>
                        </a>
                        <a href="shockabsorber/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/thermostat_1.png' %}">
                        <a href="thermostat/" class="overlay">
                            <img src="{% static 'images/catalog/thermostat_1.png' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'THERMOSTAT' %}</h3>
                            </div>
                        </a>
                        <a href="thermostat/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/water_pump_1.png' %}">
                        <a href="waterpump/" class="overlay">
                            <img src="{% static 'images/catalog/water_pump_1.png' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'WATER PUMP' %}</h3>
                            </div>
                        </a>
                        <a href="waterpump/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/alternator_1.png' %}">
                        <a href="generator/" class="overlay">
                            <img src="{% static 'images/catalog/alternator_1.png' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'GENERATORS' %}</h3>
                            </div>
                        </a>
                        <a href="generator/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/kolodki_1.png' %}">
                        <a href="brakepad/" class="overlay">
                            <img src="{% static 'images/catalog/kolodki_1.png' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'BRAKE PADS' %}</h3>
                            </div>
                        </a>
                        <a href="brakepad/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/discbrake_1.jpg' %}">
                        <a href="discbrake/" class="overlay">
                            <img src="{% static 'images/catalog/discbrake_1.jpg' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'DISK BRAKE' %}</h3>
                            </div>
                        </a>
                        <a href="discbrake/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/remni_1.png' %}">
                        <a href="belt/" class="overlay">
                            <img src="{% static 'images/catalog/remni_1.png' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'BELT' %}</h3>
                            </div>
                        </a>
                        <a href="belt/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/provod_1.png' %}">
                        <a href="belt/" class="overlay">
                            <img src="{% static 'images/catalog/provod_1.png' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'HIGH-VOLTAGE WIRES' %}</h3>
                            </div>
                        </a>
                        <a href="belt/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/gas_stops_1.png' %}">
                        <a href="belt/" class="overlay">
                            <img src="{% static 'images/catalog/gas_stops_1.png' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'GAS SPRINGS' %}</h3>
                            </div>
                        </a>
                        <a href="belt/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/balljoint_1.jpg' %}">
                        <a href="belt/" class="overlay">
                            <img src="{% static 'images/catalog/balljoint_1.jpg' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'BALL JOINTS' %}</h3>
                            </div>
                        </a>
                        <a href="belt/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/patrub_1.png' %}">
                        <a href="belt/" class="overlay">
                            <img src="{% static 'images/catalog/patrub_1.png' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'BRANCH PIPES' %}</h3>
                            </div>
                        </a>
                        <a href="belt/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/controlarm_1.jpg' %}">
                        <a href="belt/" class="overlay">
                            <img src="{% static 'images/catalog/controlarm_1.jpg' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'CONTROL ARMS' %}</h3>
                            </div>
                        </a>
                        <a href="belt/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/nerzav_1.jpg' %}">
                        <a href="belt/" class="overlay">
                            <img src="{% static 'images/catalog/nerzav_1.jpg' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'STAINLESS STEEL FITTINGS' %}</h3>
                            </div>
                        </a>
                        <a href="belt/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/pruguna_1.jpg' %}">
                        <a href="belt/" class="overlay">
                            <img src="{% static 'images/catalog/pruguna_1.jpg' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'SUSPENSION SPRINGS' %}</h3>
                            </div>
                        </a>
                        <a href="belt/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/starter_1.png' %}">
                        <a href="belt/" class="overlay">
                            <img src="{% static 'images/catalog/starter_1.png' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'STARTERS' %}</h3>
                            </div>
                        </a>
                        <a href="belt/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/stoyka_1.png' %}">
                        <a href="belt/" class="overlay">
                            <img src="{% static 'images/catalog/stoyka_1.png' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'STABILIZER STANDS' %}</h3>
                            </div>
                        </a>
                        <a href="belt/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/cylinder_1.png' %}">
                        <a href="belt/" class="overlay">
                            <img src="{% static 'images/catalog/cylinder_1.png' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'CLUTCH AND BRAKE CYLINDERS' %}</h3>
                            </div>
                        </a>
                        <a href="belt/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/bracket_1.jpg' %}">
                        <a href="belt/" class="overlay">
                            <img src="{% static 'images/catalog/bracket_1.jpg' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'BRACKET' %}</h3>
                            </div>
                        </a>
                        <a href="belt/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/rubberbushing_1.jpg' %}">
                        <a href="belt/" class="overlay">
                            <img src="{% static 'images/catalog/rubberbushing_1.jpg' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'RUBBER BUSHINGS' %}</h3>
                            </div>
                        </a>
                        <a href="belt/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <div class="brick folio-item">
                    <div class="item-wrap animate-this"
                         data-src="{% static 'images/catalog/steeringtip_1.jpg' %}">
                        <a href="belt/" class="overlay">
                            <img src="{% static 'images/catalog/steeringtip_1.jpg' %}">
                            <div class="item-text">
                                <span class="folio-types">HORT PARTS</span>
                                <h3 class="folio-title">{% trans 'STEERING TIPS' %}</h3>
                            </div>
                        </a>
                        <a href="belt/" class="details-link" title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<section id="about">

    <div class="row about-wrap">
        <div class="col-full">
            <div class="about-profile-bg"></div>
            <div class="intro">
                <h3 class="animate-this">{% trans 'About Us' %}</h3>
                {% get_about as get_about_list %}
                {% for about in get_about_list %}
                <p class="lead animate-this">
                    {{ about.full_text|safe }}
                </p>
                {% endfor %}
            </div>
        </div>
    </div>

</section>

<section id="warranty">

    <div class="overlay"></div>
    <div class="gradient-overlay"></div>

    <div class="row narrow section-intro with-bottom-sep animate-this">
        <div class="col-full">
            {% get_warranty as warranty_list %}
            {% for warranty in warranty_list %}
            <p class="lead">
                {{ warranty.full_text|safe }}
            </p>
            {% endfor %}
        </div>
    </div>

</section>

<section id="download">

    <div class="intro-wrap">

        <div class="row narrow section-intro with-bottom-sep animate-this">
            <div class="col-twelve">
                <h3>{% trans 'Download Materials' %}</h3>
            </div>
        </div>

        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="shockabsorber/">
                        <img class="card-img-top" src="{% static 'images/download/absorber_500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'SHOCK ABSORBERS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="waterpump/">
                        <img class="card-img-top" src="{% static 'images/download/water_pump_500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'WATER PUMP' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="thermostat/">
                        <img class="card-img-top" src="{% static 'images/download/thermostat_500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'THERMOSTAT' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="generator/">
                        <img class="card-img-top" src="{% static 'images/download/generator_500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'GENERATORS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="brakepad/">
                        <img class="card-img-top" src="{% static 'images/download/brake_pad_500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'BRAKE PADS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="discbrake/">
                        <img class="card-img-top" src="{% static 'images/download/disc_brake_500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'DISK BRAKE' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="belt/">
                        <img class="card-img-top" src="{% static 'images/download/belt_500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'BELT' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="discbrake/">
                        <img class="card-img-top" src="{% static 'images/download/provod_500' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'HIGH-VOLTAGE WIRES' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="brakepad/">
                        <img class="card-img-top" src="{% static 'images/download/gas_stop_500' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'GAS SPRINGS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="discbrake/">
                        <img class="card-img-top" src="{% static 'images/download/balljoint_500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'BALL JOINTS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="brakepad/">
                        <img class="card-img-top" src="{% static 'images/download/patrubki_500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'BRANCH PIPES' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="discbrake/">
                        <img class="card-img-top" src="{% static 'images/download/controlarm_500' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'CONTROL ARMS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="brakepad/">
                        <img class="card-img-top" src="{% static 'images/download/500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'STAINLESS STEEL FITTINGS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="discbrake/">
                        <img class="card-img-top" src="{% static 'images/download/disc_brake_500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'SUSPENSION SPRINGS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="brakepad/">
                        <img class="card-img-top" src="{% static 'images/download/starter_500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'STARTERS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="discbrake/">
                        <img class="card-img-top" src="{% static 'images/download/stoyka_500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'STABILIZER STANDS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="brakepad/">
                        <img class="card-img-top" src="{% static 'images/download/cylinder_500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'CLUTCH AND BRAKE CYLINDERS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="discbrake/">
                        <img class="card-img-top" src="{% static 'images/download/bracket_500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'BRACKET' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="brakepad/">
                        <img class="card-img-top" src="{% static 'images/download/rubberbushing_500' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'RUBBER BUSHINGS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <a href="discbrake/">
                        <img class="card-img-top" src="{% static 'images/download/steeringtip_500.jpg' %}"></a>
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'STEERING TIPS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="#"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<section id="contact">

    <div class="overlay"></div>

    <div class="row narrow section-intro with-bottom-sep animate-this">
        <div class="col-twelve">
            <h3>{% trans 'Contact' %}</h3>
            <p class="lead">
                {% trans 'If you have any business queries or other questions, ' %}
                {% trans 'please fill out the following form to contact us. Thank you.' %}
            </p>
        </div>
    </div>

    <div class="row contact-content">

        <div class="col-seven tab-full animate-this">

            <h5>{% trans 'Send Us A Message' %}</h5>

            <form name="contactForm" id="contactForm" method="post">

                <div class="form-field">
                    <input name="contactName" type="text" id="contactName"
                           placeholder="{% trans 'Name' %}" value="" minlength="2" required="">
                </div>

                <div class="row">
                    <div class="col-six tab-full">
                        <div class="form-field">
                            <input name="contactEmail" type="email" id="contactEmail"
                                   placeholder="{% trans 'Email' %}" value=""
                                   required="">
                        </div>
                    </div>
                    <div class="col-six tab-full">
                        <div class="form-field">
                            <input name="contactSubject" type="text" id="contactSubject"
                                   placeholder="{% trans 'Subject' %}" value="">
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <textarea name="contactMessage" id="contactMessage"
                              placeholder="{% trans 'Send Us A Message' %}" rows="10" cols="50" required=""></textarea>
                </div>

                <div class="form-field">
                    <button class="submitform">{% trans 'Submit' %}</button>

                    <div id="submit-loader">
                        <div class="text-loader">{% trans 'Sending...' %}</div>
                        <div class="s-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>

            </form>

            <div id="message-warning"></div>

            <div id="message-success">
                <i class="fa fa-check"></i>{% trans 'Your message was sent, thank you!' %}<br>
            </div>

        </div>

        <div class="col-four tab-full contact-info end animate-this">

            <h5>{% trans 'Contact Information' %}</h5>

            <div class="cinfo">
                <h6>{% trans 'Email Us At' %}</h6>
                <p>
                    office@hort.parts<br>
                    office@hort.ua<br>
                    hortautoparts@gmail.com
                </p>
            </div>
        </div>

    </div>

</section>

<div id="preloader">
    <div id="loader"></div>
</div>

{% endblock content_page %}
