{% load static i18n hort_tag %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title_page %}
    {% endblock %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="The official website of autoparts trademark Hort, Auto Parts Hort">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/hort-0.css' %}">
    <link rel="stylesheet" href="{% static 'css/hort-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/hort-css.css' %}">
    <link rel="stylesheet" href="{% static 'css/hort-main.css' %}">
    <link rel="stylesheet" href="{% static 'css/hort-catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/hort-catalog-main.css' %}">
    <link rel="stylesheet" href="{% static 'css/hort-menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/hort-menu-codes.css' %}">
    <link rel="stylesheet" href="{% static 'css/hort-main-catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/hort-mobile.css' %}">

</head>
<body class="vw5-frontend vw5-rootDomainAtMaster vw5-rootDomainAt__HomePage_Component">

{% include 'hort_parts/include/header.html' %}

{% block content_page %}
{% endblock %}

{% include 'hort_parts/include/footer.html' %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/hort-js.js' %}"></script>
<script src="{% static 'js/hort-catalog.js' %}"></script>
<script src="{% static 'js/hort-rb.js' %}"></script>
<script src="{% static 'js/h-defer.js' %}"></script>
<script src="{% static 'js/h-defer2.js %}"></script>

</body>
</html>



