{% extends 'hort_parts/main.html' %}
{% load static i18n hort_tag %}
{% block  title_page %}
<title>Hort - Warranty</title>
{% endblock title_page %}


{% block content_page %}

<div class="site-warranty">

    <div class="container">

        <div class="row my-4">
            <div class="col-lg-3">
                <img class="card-img-top" src="/images/warranty_12.png" alt=""/>
            </div>
            <div class="col-lg-9">
                <p>
                <h1><b>{% trans 'PRODUCT WARRANTY OF THE TRADE MARK "HORT"' %}</b></h1><br/>
                <h2><b>{% trans 'BASIC CONCEPTS' %}</b></h2><br/>
                <h3>{% trans 'This document describes the relationships that arise between buyers, sellers and manufacturers of goods of the trademark "HORT".') ?>
                    <ul>{% trans 'The basic concepts used in this document are:') ?>
                        <li>
                            <b>{% trans 'Buyer') ?></b> {% trans '- a citizen who receives goods of the trademark "HORT";') ?>
                        </li>
                        <li>
                            <b>{% trans 'Seller') ?></b> {% trans '- an organization that sells goods to customers;') ?>
                        </li>
                        <li>
                            <b>{% trans 'Guaranteed STO') ?></b> {% trans '- a technical service station for cars, which carries out installation, warranty service and repair of goods;') ?>
                        </li>
                        <li>
                            <b>{% trans 'Warranty service') ?></b> {% trans '- maintenance of goods installed on the car during the warranty period;') ?>
                        </li>
                        <li>
                            <b>{% trans 'Warranty period') ?></b> {% trans '- the period during which, in case of detection of defective goods, the Seller is obliged to satisfy the Buyers requirements for the free removal of defects of the goods or reimbursement of expenses for their correction by the Buyer or a third party, a replacement for a product of the same brand, or require the return of the money paid for the product and compensation for the installation costs.') ?>
                        </li>
                    </ul>
                </h3>
                </p>
            </div>

            <div class="col-lg-13">
                <p>
                <h2><b>{% trans 'GENERAL WARRANTY TERMS') ?></b></h2> <br/>
                <h3>
                    1. {% trans 'TМ «HORT»' %} {% trans 'sets the warranty period for its products' %}
                    <b> {% trans '12 months') ?></b>,
                    {% trans 'subject to the requirements of storage, installation, use, provided by regulatory documents, technical characteristics and real status, except for the product, which according to this situation is not covered by the guarantee or the duration of the guarantee specified in the Guarantee card.') ?>
                    <br/><br/>
                    2. {% trans 'The manufacturers warranty applies only to defects of production nature. The warranty period starts from the moment of purchase of the goods by the buyer or from the moment of installation of the part on the car at the service station.') ?>
                    <br/><br/>
                    3. {% trans 'TМ «HORT»' %} {% trans 'guarantees high quality products. For security and maximum efficiency' %} {% trans 'TМ «HORT»' %}
                    {% trans 'recommends to allow all prophylactic and repair work to be performed only by trained specialists in accordance with the instructions of the manufacturer of the car.' %}
                    {% trans 'In the case of incorrect or unskilled installation, TM "HORT" products are not liable for warranty obligations.' %}
                    <br/><br/>
                    4. {% trans 'In the event of a warranty, during the warranty period, please return the product to the seller, showing the following documents required:' %}
                    <ul>
                        <li>{% trans 'Warranty card;' %}</li>
                        <li>{% trans 'Commodity or cash check;' %}</li>
                        <li>{% trans 'Order-STO on the installation of spare parts (if the spare part was installed on the service station).' %}</li>
                    </ul>

                    5. {% trans 'The guarantee is not granted in case:' %}
                    <ul>
                        <li>{% trans 'Failure to comply with the installation rules established by the manufacturer of the car;' %}</li>
                        <li>{% trans 'Incorrect selection of spare parts;' %}</li>
                        <li>{% trans 'The presence of mechanical damage;' %}</li>
                        <li>{% trans 'Incorrect storage or operation, damage to a spare part as a result of an accident;' %}</li>
                        <li>{% trans 'If the cause of the failure of the product was a malfunction of another part or units;' %}</li>
                        <li>{% trans 'Installations of a spare part for a car that was subjected to operational load, used in races, rally, etc .;' %}</li>
                        <li>{% trans 'Natural wear parts (for brake pads, brake discs, brake drums, discs and clutch baskets, drive belts).' %}</li>
                    </ul>
                </h3>
                <br/>
                <div class="container">
                    <p>
                    <h2><b>{% trans 'TERMS OF WARRANTY ON SPARE PARTS AT STATION INSTALLATION:' %}</b>
                    </h2></p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><h3><b>{% trans 'Category of spare parts' %} </b></h3></th>
                            <th><h3><b>{% trans 'Warranty period' %}</b></h3></th>
                            <th><h3><b>{% trans 'Run (km) of the car' %}</b></h3></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><h3>{% trans 'Shock absorbers' %}*</h3></td>
                            <td><h3>{% trans '12 months') ?>*</h3></td>
                            <td><h3>{% trans 'or 20,000 km' %}*</h3></td>
                        </tr>
                        <tr>
                            <td><h3>{% trans 'High voltage wires' %} High Perfomance</h3></td>
                            <td><h3>{% trans '6 months' %}</h3></td>
                            <td><h3>{% trans 'or 15,000 km' %}</h3></td>
                        </tr>
                        <tr>
                            <td><h3>{% trans 'High voltage wires' %} Platinize</h3></td>
                            <td><h3>{% trans '6 months' %}</h3></td>
                            <td><h3>{% trans 'or 15,000 km' %}</h3></td>
                        </tr>
                        <tr>
                            <td><h3>{% trans 'High voltage wires' %} Silicone</h3></td>
                            <td><h3>{% trans '6 months' %}</h3></td>
                            <td><h3>{% trans 'or 15,000 km' %}</h3></td>
                        </tr>
                        <tr>
                            <td><h3>{% trans 'Water pumps' %}</h3></td>
                            <td><h3>{% trans '18 months' %}</h3></td>
                            <td><h3>{% trans 'or 80,000 km' %}</h3></td>
                        </tr>
                        <tr>
                            <td><h3>{% trans 'Gas springs' %}</h3></td>
                            <td><h3>{% trans '24 months' %}</h3></td>
                            <td><h3>-</h3></td>
                        </tr>
                        <tr>
                            <td><h3>{% trans 'Brake pads' %}</h3></td>
                            <td><h3>{% trans '6 months' %}</h3></td>
                            <td><h3>{% trans 'or 20,000 km' %}</h3></td>
                        </tr>
                        <tr>
                            <td><h3>{% trans 'Generators' %}</h3></td>
                            <td><h3>{% trans '12 months' %}</h3></td>
                            <td><h3>-</h3></td>
                        </tr>
                        <tr>
                            <td><h3>{% trans 'Hydraulic cylinders' %}</h3></td>
                            <td><h3>{% trans '12 months' %}</h3></td>
                            <td><h3>-</h3></td>
                        </tr>
                        <tr>
                            <td><h3>{% trans 'Belts' %}</h3></td>
                            <td><h3>{% trans '6 months' %}</h3></td>
                            <td><h3>{% trans 'or 30,000 km' %}</h3></td>
                        </tr>
                        <tr>
                            <td><h3>{% trans 'Starters' %}</h3></td>
                            <td><h3>{% trans '24 months' %}</h3></td>
                            <td><h3>-</h3></td>
                        </tr>
                        <tr>
                            <td><h3>{% trans 'Starter batteries' %}</h3></td>
                            <td><h3>{% trans '24 months' %}</h3></td>
                            <td><h3>-</h3></td>
                        </tr>
                        <tr>
                            <td><h3>{% trans 'Stabilizer stands' %}</h3></td>
                            <td><h3>{% trans '4 months' %}</h3></td>
                            <td><h3>{% trans 'or 20,000 km' %}</h3></td>
                        </tr>
                        <tr>
                            <td><h3>{% trans 'Thermostats' %}</h3></td>
                            <td><h3>{% trans '24 months' %}</h3></td>
                            <td><h3>{% trans 'or 125,000 km' %}</h3></td>
                        </tr>
                        </tbody>
                    </table>
                    *{% trans 'guarantee provided two shock absorbers are installed on one axle of the car' %}
                </div>

                <br/> <br/>
                <h2><b>{% trans 'GUARANTEE TALON' %}</b></h2> <br/>
                <h3>{% trans 'Warranty card for products' %} {% trans 'TМ «HORT»' %} {% trans '- this is a document that contains all the necessary data for the user and the automaker.' %}
                    <ul>{% trans 'It includes information:' %}
                        <li>{% trans 'Name and article products' %}  {% trans 'TМ «HORT»' %}
                            ;
                        </li>
                        <li>{% trans 'Name, address and telephone number of the trade organization;' %}</li>
                        <li>{% trans 'Date of sale;' %}</li>
                        <li>{% trans 'Signature of the seller and seal of the trade organization;' %}</li>
                        <li>{% trans 'A mark about carrying out of works on installation and maintenance service;' %}</li>
                        <li>{% trans 'Service name and address;' %}</li>
                        <li>{% trans 'Date of installation;' %}</li>
                        <li>{% trans 'Make, model, year of issue and mileage (km) of the car.' %}</li>
                    </ul>
                    {% trans 'Warranty coupons are contained in product packages' %}  {% trans 'ТМ «HORT»' %}
                    .<br/>
                    {% trans 'The warranty card confirms the originality (authenticity) of the origin of the products' %} {% trans 'TМ «HORT»' %}
                    .<br/>
                    {% trans 'The firm guarantee from ТМ "HORT" for TM "HORT" products is given only with the presence of a properly completed Guarantee Certificate TM "HORT".' %}
                    <br/>
                </h3>
                </p>
            </div>
        </div>

    </div>

</div>

{% endblock content_page %}
