{% extends 'hort_parts/news/main.html' %}
{% load static i18n hort_tag %}
{% block  title_page %}
<title>Hort - News </title>
{% endblock title_page %}


{% block news_page %}

<div class="site-news">

    <div class="container">
        <div class="row my-4">
            <div class="col-lg-5">
                <img class="card-img-top" src="#" alt="">
            </div>
            <div class="col-lg-7">
                <h1><b>News</b></h1>
                <br/>
                <p>
                <h3>News</h3></p>
                <br/>
                <p>DETAILED</p>
            </div>
        </div>
        <hr>
    </div>

</div>

{% endblock news_page %}
