{% extends 'hort_parts/product/main.html' %}
{% load static i18n hort_tag %}
{% block  title_page %}
<title>Hort - {% trans 'About Us' %}</title>
{% endblock title_page %}

{% block product_page %}

<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">{% trans 'About Us' %}</h1></div>
        </div>
    </div>
    <!--End Page Title-->

    {% for about in about_list %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>{{ about.full_text|safe }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
                <h2 class="h2"> </h2>
                <div class="rte-setting">
                    <p> </p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <h2 class="h2">Contact Us</h2>
                <ul class="addressFooter">
                    <li class="email"><i class="icon anm anm-envelope-l"></i>
                        <p>office@hort.parts</p></li>
                    <li class="email"><i class="icon anm anm-envelope-l"></i>
                        <p>office@hort.ua</p></li>
                    <li class="email"><i class="icon anm anm-envelope-l"></i>
                        <p>hortautoparts@gmail.com</p></li>
                </ul>
                <hr/>
                <ul class="list--inline site-footer__social-icons social-icons">
                    <li><a class="social-icons__link" href="https://twitter.com/Hort_Parts" target="_blank"
                           title="Twitter">
                        <i class="icon icon-twitter"></i><span class="icon__fallback-text">Twitter</span></a></li>
                    <li><a class="social-icons__link" href="https://www.instagram.com/hortparts/" target="_blank"
                           title="Instagram">
                        <i class="icon icon-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                </ul>
            </div>
        </div>

    </div>

    {% endfor %}

</div>

{% endblock product_page %}
