{% extends 'hort_parts/product/main.html' %}
{% load static i18n hort_tag %}
{% block  title_page %}
<title>Hort - {% trans 'Download Materials' %}</title>
{% endblock title_page %}

{% block product_page %}

<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper">
                <h1 class="page-width">{% trans 'Download Materials' %}</h1>
            </div>
        </div>
    </div>
    <!--End Page Title-->

</div>

<div class="catalog-index">

    <div class="container">
        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/absorber_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'SHOCK ABSORBERS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/shockabsorber_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/water_pump_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'WATER PUMP' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/waterpump_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/thermostat_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'THERMOSTAT' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/thermostat_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/generator_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'GENERATORS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/generator_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/brake_pad_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'BRAKE PADS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/brakepad_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/disc_brake_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'DISK BRAKE' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/diskbrake_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/belt_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'BELT' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/belt_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/provod_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'HIGH-VOLTAGE WIRES' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/hightvoltahewire_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/gas_stop_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'GAS SPRINGS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/gasstop_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/balljoint_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'BALL JOINTS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/balljoint_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/patrubki_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'BRANCH PIPES' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/branchpipes_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/controlarm_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'CONTROL ARMS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/controarm_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/nerzav_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'STAINLESS STEEL FITTINGS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/stainlessconnections_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/pruguna_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'SUSPENSION SPRINGS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/suspensionspring_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/starter_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'STARTERS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/starters_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/stoyka_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'STABILIZER STANDS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/pillarstabilizer_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/cylinder_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'CLUTCH AND BRAKE CYLINDERS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/cylinder_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/bracket_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'BRACKET' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/bracket_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/rubberbushing_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'RUBBER BUSHINGS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/rubberbushing_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/download/steeringtip_500.jpg' %}">
                    <div class="card-body center">
                        <h4 class="card-title">{% trans 'STEERING TIPS' %}</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer center">
                        <a href="{% static 'photos/download/steepingtip_hort.rar' %}"
                           class="btn btn-success">{% trans 'Download' %}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock product_page %}
