{% extends 'hort_parts/product/main.html' %}
{% load static i18n flags hort_tag %}
{% block  title_page %}
<title>Hort - {{ category.name }} | {{ product.article }} </title>
{% endblock title_page %}

{% block product_page %}

<!--Body Content-->
<div id="page-content">
    <!--MainContent-->
    <div id="MainContent" class="main-content" role="main">
        <!--Breadcrumb-->
        <div class="bredcrumbWrap">
            <div class="container breadcrumbs">
                <a href="{% url 'hort:home' %}">{% trans 'Home' %}</a>
                <span aria-hidden="true">›</span>
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                <span aria-hidden="true">›</span>
                <span>{{ product.name }}</span>
            </div>
        </div>
        <!--End Breadcrumb-->

        <div id="ProductSection-product-template" class="product-template__container prstyle2 container">
            <!--#ProductSection-product-template-->
            <div class="product-single product-single-1">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                        <div class="product-details-img product-single__photos bottom">

                            <div class="zoompro-wrap product-zoom-right pl-20">
                                <div class="zoompro-span">
                                    <img class="blur-up lazyload zoompro"
                                         data-zoom-image="{% static 'photos/hort/' %}{{ product.article.lower }}/1.jpg"
                                         alt="" src="{% static 'photos/hort/' %}{{ product.article.lower }}/1.jpg"/>
                                </div>
                                <div class="product-buttons">
                                    <a href="#" class="btn prlightbox" title="Zoom">
                                        <i class="icon anm anm-expand-l-arrows" aria-hidden="true"></i></a>
                                </div>
                            </div>

                            <div class="lightboximages">
                                {% for images in images %}
                                <a href="{{ images.image_url }}"
                                   data-size="1024x1024"></a>
                                {% endfor %}
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="product-single__meta">
                            <h1 class="product-single__title">{{ product.name }}</h1>
                        </div>
                        <div class="product-single__description rte">
                            <ul>
                                <li><h3>{% trans 'Article' %}: {{ product.article }}</h3></li>
                                <li><h3>{% trans 'Specification' %}: {{ product.specification }}</h3></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <!--End-product-single-->

            <!--Product Tabs-->
            <section id="tabs">
                <div class="container">
                    <div class="row">
                        <div class="col-12 ">

                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                       href="#nav-home"
                                       role="tab" aria-controls="nav-home" aria-selected="true">
                                        <h3>{% trans 'Description' %}</h3>
                                    </a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                       href="#nav-profile"
                                       role="tab" aria-controls="nav-profile" aria-selected="false">
                                        <h3>{% trans 'Cross Code' %}</h3>
                                    </a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                       href="#nav-contact"
                                       role="tab" aria-controls="nav-contact" aria-selected="false">
                                        <h3>{% trans 'Applicability' %}</h3>
                                    </a>
                                    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about"
                                       role="tab" aria-controls="nav-about" aria-selected="false">
                                        <h3>{% trans 'Characteristics' %}</h3>
                                    </a>
                                </div>
                            </nav>

                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                     aria-labelledby="nav-home-tab">
                                    {{ product.advanced_description|safe }}
                                </div>

                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                     aria-labelledby="nav-profile-tab">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">{% trans 'Brand' %}</th>
                                            <th scope="col">{% trans 'Cross Code' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for cross in cross %}
                                        <tr>
                                            <td>{{ cross.brand }}</td>
                                            <td>{{ cross.article_nr }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                     aria-labelledby="nav-contact-tab">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">{% trans 'Vehicle' %}</th>
                                            <th scope="col">{% trans 'Modification' %}</th>
                                            <th scope="col">{% trans 'Engine' %}</th>
                                            <th scope="col">{% trans 'Year' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for applicability in applicability %}
                                        <tr>
                                            <td>{{ applicability.vehicle }}</td>
                                            <td>{{ applicability.modification }}</td>
                                            <td>{{ applicability.engine }}</td>
                                            <td>{{ applicability.year }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane fade" id="nav-about" role="tabpanel"
                                     aria-labelledby="nav-about-tab">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">{% trans 'Characteristics' %}</th>
                                            <th scope="col">{% trans 'Value' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for description in description %}
                                        <tr>
                                            <td>{{ description.property }}</td>
                                            <td>{{ description.value }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!--End Product Tabs-->

        </div>
        <!--#ProductSection-product-template-->
    </div>
    <!--MainContent-->
</div>
<!--End Body Content-->


<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

{% endblock product_page %}
