{% load static i18n hort_tag %}

<div class="vw5-rootDomainAtMaster__footer">
    <div class="vw5-rootDomainAtMaster__innerFooter">
        <div class="vw5-themeBoxesFooterLinks">
            <div class="vw5-themeBoxesFooterLinks__backToTop">
                <a class="vw5-themeBoxesFooterLinks__jumpToTop" href="#"><p>Up</p>
                </a>
            </div>

            <div class="vw5-themeBoxesFooterLinks__links">
                <div class="vw5-themeBoxesFooterLinks__center">

                    <div class="container">
                        <div class="main_copyright">
                            <p> Hort. All rights reserved</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
