{% load static i18n hort_tag %}

<div class="vw5-rootDomainAtMaster__content vw5-masterContent">
    <div class="vw5-rootDomainAtMaster__stickyContainer vw5-stickyContainer">
        <div class="vw5-webStandard vw5-homePageCallToAction">
            <div class="vw5-themeBoxesCallToActionList__items">

                <div class="vw5-themeBoxesCallToActionList__listItem  vw5-themeBoxesCallToActionList__listItem--even
                    vw5-themeBoxesCallToActionList__item"
                     style="">
                          <span class="vw5-themeLinkListLink">
                         <a class="vw5-poiToolsKwcLinkTagSvn vw5-kwcPopup"
                            href="https://twitter.com/Hort_Parts" class="vw5-kwcPopup" data-kwc-popup="blank">
                             <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                         </a>
                         </span>
                </div>

                <div class="vw5-themeBoxesCallToActionList__listItem  vw5-themeBoxesCallToActionList__listItem--even
                    vw5-themeBoxesCallToActionList__item"
                     style="">
                          <span class="vw5-themeLinkListLink">
                         <a class="vw5-poiToolsKwcLinkTagSvn vw5-kwcPopup"
                            href="https://www.instagram.com/hortparts/" class="vw5-kwcPopup" data-kwc-popup="blank">
                             <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                         </a>
                         </span>
                </div>

                <div class="vw5-themeBoxesCallToActionList__listItem  vw5-themeBoxesCallToActionList__listItem--even
                    vw5-themeBoxesCallToActionList__item"
                     style="">

                    <span class="flag-icon flag-icon-ua"></span>
                    <span class="flag-icon flag-icon-gb"></span>
                    <span class="flag-icon flag-icon-ru"></span>
                    <span class="flag-icon flag-icon-de"></span>

                </div>
            </div>
        </div>
    </div>
</div>
