{% load static i18n hort_tag %}

<div class="vw5-rootDomainAtMaster__mainMenu">

    <nav class="vw5-webStandard vw5-webMenu vw5-webListNone vw5-moveOnCookieBanner vw5-themeMenuExtendedMain">
        <a href="#"><i class="fa fa-caret-right">&emsp;Name </i></a>
    </nav>

    <nav class="vw5-webStandard vw5-webMenu vw5-webListNone vw5-moveOnCookieBanner vw5-themeMenuMain">
        <a href="#"><i class="demo-icon icon-menu_about fa-2x" aria-hidden="true"></i><span
                class="menuItemText">{label}</span></a>
        <span class="vw5-themeMenuMain__moreMenuItem__text" style="padding-top:10px;">{label}</span>

    </nav>

    <a href="#" class="vw5-rootDomainAtMaster__logo vw5-moveOnCookieBanner">
        <figure class="vw5-themeMenuLogo dimensionDefault webImageLoadedAnimation vw5-kwcImage"
                style="max-width:66px;" data-width="100%"
                data-max-width="0">
            <div class="vw5-themeMenuLogo__outerContainer">
                <div class="vw5-themeMenuLogo__container vw5-kwcImageContainer  vw5-loadImmediately"
                     style="padding-bottom: 134%"
                     data-width-steps="[66,88]"
                     data-src="{% static 'images/Hort_logo_color.svg' %}">
                    <noscript>
                        <img src="{% static 'images/Hort_logo_color.svg' %}" width="66" height="88" alt="HORT"/>
                    </noscript>
                </div>
            </div>
        </figure>
    </a>
</div>

<!-- beginMainMenuMobil -->
<div class="visible-xs">
    <div class="vw5-webListNone vw5-webStandard vw5-webMenu vw5-default vw5-themeMenuMobile">
        <a class="vw5-themeMenuMobile__logo" href="#"></a>
        <a class="vw5-themeMenuMobile__toggleMenu"><span class="first"></span><span class="second"></span>
            <span class="third"></span></a>

        <div class="vw5-themeMenuMobile__sliderContainer">

            <div class="vw5-themeMenuMobile__qaButtons">
                <div class="vw5-webStandard vw5-mobileQuickAccessLinks">

                    <div class="vw5-mobileQuickAccessLinks__items">

                        <div class="vw5-mobileQuickAccessLinks__listItem  vw5-mobileQuickAccessLinks__listItem--odd
                        vw5-mobileQuickAccessLinks__item"
                             style="">
                                <span class="vw5-themeLinkListLink">
                        <a class="vw5-poiToolsKwcLinkTagSvn vw5-kwcPopup"
                           href="#" class=" vw5-kwcPopup" data-kwc-popup="">
                         <i class="demo-icon icon-menu_about fa-2x" aria-hidden="true"></i>
                            <div class="vw5-kwcBasicTextfield">
                                About Us</div></a>
                     </span>
                        </div>

                        <div class="vw5-mobileQuickAccessLinks__listItem  vw5-mobileQuickAccessLinks__listItem--odd
                        vw5-mobileQuickAccessLinks__item"
                             style="">
                                <span class="vw5-themeLinkListLink">
                        <a class="vw5-poiToolsKwcLinkTagSvn vw5-kwcPopup"
                           href="#" class=" vw5-kwcPopup" data-kwc-popup="">
                    <i class="demo-icon icon-menu_news fa-2x" aria-hidden="true"></i>
                            <div class="vw5-kwcBasicTextfield">
                                    News</div> </a>
                     </span>
                        </div>

                        <div class="vw5-mobileQuickAccessLinks__listItem  vw5-mobileQuickAccessLinks__listItem--odd
                        vw5-mobileQuickAccessLinks__item"
                             style="">
                                <span class="vw5-themeLinkListLink">
                        <a class="vw5-poiToolsKwcLinkTagSvn vw5-kwcPopup"
                           href="#" class=" vw5-kwcPopup" data-kwc-popup="">
                    <i class="demo-icon icon-menu_warranty fa-2-5x" aria-hidden="true"></i>
                        <div class="vw5-kwcBasicTextfield">
                                    Warranty</div> </a>
                     </span>
                        </div>

                        <div class="vw5-mobileQuickAccessLinks__listItem  vw5-mobileQuickAccessLinks__listItem--odd
                        vw5-mobileQuickAccessLinks__item"
                             style="">
                                <span class="vw5-themeLinkListLink">
                        <a class="vw5-poiToolsKwcLinkTagSvn vw5-kwcPopup"
                           href="#" class=" vw5-kwcPopup" data-kwc-popup="">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                        <div class="vw5-kwcBasicTextfield">
                                    Contacts</div> </a>
                        </span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="vw5-themeMenuMobile__qaButtons">
                <div class="vw5-webStandard vw5-mobileQuickAccessLinks">

                    <div class="vw5-mobileQuickAccessLinks__items">

                        <div class="vw5-mobileQuickAccessLinks__listItem  vw5-mobileQuickAccessLinks__listItem--even
                        vw5-mobileQuickAccessLinks__item"
                             style="">
                            <span class="vw5-themeLinkListLink">
                             <a class="vw5-poiToolsKwcLinkTagSvn vw5-kwcPopup"
                                href="https://twitter.com/Hort_Parts" class=" vw5-kwcPopup" data-kwc-popup="blank">
                             <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                                </a>
                             </span>
                        </div>

                        <div class="vw5-mobileQuickAccessLinks__listItem  vw5-mobileQuickAccessLinks__listItem--even
                        vw5-mobileQuickAccessLinks__item"
                             style="">
                            <span class="vw5-themeLinkListLink">
                             <a class="vw5-poiToolsKwcLinkTagSvn vw5-kwcPopup"
                                href="https://www.instagram.com/hortparts/" class=" vw5-kwcPopup"
                                data-kwc-popup="blank">
                             <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                                </a>
                             </span>
                        </div>

                        <div class="vw5-mobileQuickAccessLinks__listItem  vw5-mobileQuickAccessLinks__listItem--last
                        vw5-mobileQuickAccessLinks__listItem--even vw5-mobileQuickAccessLinks__item"
                             style="">
                         <span class="vw5-themeLinkListLink">
                          <a class="vw5-poiToolsKwcLinkTagSvn vw5-kwcPopup"
                             href="https://plus.google.com/u/1/101242321889396022524" class=" vw5-kwcPopup"
                             data-kwc-popup="blank">
                             <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
                         </a>
                            </span>
                        </div>

                        <span class="flag-icon flag-icon-ua"></span>
                        <span class="flag-icon flag-icon-gb"></span>'
                        <span class="flag-icon flag-icon-ru"></span>
                        <span class="flag-icon flag-icon-de"></span>

                    </div>

                </div>
            </div>


            <a href="#"><i class="fa fa-caret-right">&emsp;Label </i></a>

        </div>
    </div>
</div>
